<!DOCTYPE html>
<%- partial('partial/head') %>

<body style="padding-top: 70px;">
    <%- partial('partial/header') %>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <% page.posts.each(function (post) { %>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3><%= post.title %><small class="post-time"> <%- date(post.date, "YYYY-MM-DD") %></small></h3>
                        <small><%- post.excerpt %></small>
                        <a class="btn btn-sm" href="<%- url_for(post.path) %>">Readmore</a>
                    </div>
                </div>
                <% }) %>
                <%- partial('partial/paginator') %>
                <div id="footer">
                    <%- partial('partial/footer') %>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <%- partial('partial/sidebar') %>
            </div>
        </div>
    </div>
</body>